/*
Theme Name: #theme-name# 
Theme URI: #theme-uri# 
Description: #site-name# WordPress Theme
Author: Content Shapers 
Author URI: https://contentshapers.be
Version: 1.0
*/

body,
input,
button,
input {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
var,
video,
xmp {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

textarea,
input,
select,
button {
    font-family: inherit
}

select,
textarea {
    overflow-y: auto
}

.gform_body ul,
.gform_body ol {
    padding: 0;
    margin: 0;
    list-style: none
}

html {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

b,
strong {
    font-weight: bold
}

img {
    color: transparent;
    font-size: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic
}

li {
    display: list-item
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th,
td,
caption {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q,
blockquote {
    quotes: none
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none
}

sub,
sup,
small {
    font-size: 75%
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

svg {
    overflow: hidden
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:focus,
:active {
    outline-color: transparent;
    outline-style: none
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    display: none;
    -moz-appearance: none;
    -webkit-appearance: none
}

input[type=submit] {
    -webkit-appearance: none;
    border-radius: 0
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=search],
textarea {
    border-radius: 0;
    -webkit-appearance: none
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto
}

.row-24 {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto
}

.row-24 .before-1 {
    padding-left: calc((4.1666666667% * 1) + 15px)
}

.row-24 .col-1 {
    width: 4.1666666667%
}

.row-24 .after-1 {
    padding-right: calc((4.1666666667% * 1) + 15px)
}

.row-24 .before-2 {
    padding-left: calc((4.1666666667% * 2) + 15px)
}

.row-24 .col-2 {
    width: 8.3333333333%
}

.row-24 .after-2 {
    padding-right: calc((4.1666666667% * 2) + 15px)
}

.row-24 .before-3 {
    padding-left: calc((4.1666666667% * 3) + 15px)
}

.row-24 .col-3 {
    width: 12.5%
}

.row-24 .after-3 {
    padding-right: calc((4.1666666667% * 3) + 15px)
}

.row-24 .before-4 {
    padding-left: calc((4.1666666667% * 4) + 15px)
}

.row-24 .col-4 {
    width: 16.6666666667%
}

.row-24 .after-4 {
    padding-right: calc((4.1666666667% * 4) + 15px)
}

.row-24 .before-5 {
    padding-left: calc((4.1666666667% * 5) + 15px)
}

.row-24 .col-5 {
    width: 20.8333333333%
}

.row-24 .after-5 {
    padding-right: calc((4.1666666667% * 5) + 15px)
}

.row-24 .before-6 {
    padding-left: calc((4.1666666667% * 6) + 15px)
}

.row-24 .col-6 {
    width: 25%
}

.row-24 .after-6 {
    padding-right: calc((4.1666666667% * 6) + 15px)
}

.row-24 .before-7 {
    padding-left: calc((4.1666666667% * 7) + 15px)
}

.row-24 .col-7 {
    width: 29.1666666667%
}

.row-24 .after-7 {
    padding-right: calc((4.1666666667% * 7) + 15px)
}

.row-24 .before-8 {
    padding-left: calc((4.1666666667% * 8) + 15px)
}

.row-24 .col-8 {
    width: 33.3333333333%
}

.row-24 .after-8 {
    padding-right: calc((4.1666666667% * 8) + 15px)
}

.row-24 .before-9 {
    padding-left: calc((4.1666666667% * 9) + 15px)
}

.row-24 .col-9 {
    width: 37.5%
}

.row-24 .after-9 {
    padding-right: calc((4.1666666667% * 9) + 15px)
}

.row-24 .before-10 {
    padding-left: calc((4.1666666667% * 10) + 15px)
}

.row-24 .col-10 {
    width: 41.6666666667%
}

.row-24 .after-10 {
    padding-right: calc((4.1666666667% * 10) + 15px)
}

.row-24 .before-11 {
    padding-left: calc((4.1666666667% * 11) + 15px)
}

.row-24 .col-11 {
    width: 45.8333333333%
}

.row-24 .after-11 {
    padding-right: calc((4.1666666667% * 11) + 15px)
}

.row-24 .before-12 {
    padding-left: calc((4.1666666667% * 12) + 15px)
}

.row-24 .col-12 {
    width: 50%
}

.row-24 .after-12 {
    padding-right: calc((4.1666666667% * 12) + 15px)
}

.row-24 .before-13 {
    padding-left: calc((4.1666666667% * 13) + 15px)
}

.row-24 .col-13 {
    width: 54.1666666667%
}

.row-24 .after-13 {
    padding-right: calc((4.1666666667% * 13) + 15px)
}

.row-24 .before-14 {
    padding-left: calc((4.1666666667% * 14) + 15px)
}

.row-24 .col-14 {
    width: 58.3333333333%
}

.row-24 .after-14 {
    padding-right: calc((4.1666666667% * 14) + 15px)
}

.row-24 .before-15 {
    padding-left: calc((4.1666666667% * 15) + 15px)
}

.row-24 .col-15 {
    width: 62.5%
}

.row-24 .after-15 {
    padding-right: calc((4.1666666667% * 15) + 15px)
}

.row-24 .before-16 {
    padding-left: calc((4.1666666667% * 16) + 15px)
}

.row-24 .col-16 {
    width: 66.6666666667%
}

.row-24 .after-16 {
    padding-right: calc((4.1666666667% * 16) + 15px)
}

.row-24 .before-17 {
    padding-left: calc((4.1666666667% * 17) + 15px)
}

.row-24 .col-17 {
    width: 70.8333333333%
}

.row-24 .after-17 {
    padding-right: calc((4.1666666667% * 17) + 15px)
}

.row-24 .before-18 {
    padding-left: calc((4.1666666667% * 18) + 15px)
}

.row-24 .col-18 {
    width: 75%
}

.row-24 .after-18 {
    padding-right: calc((4.1666666667% * 18) + 15px)
}

.row-24 .before-19 {
    padding-left: calc((4.1666666667% * 19) + 15px)
}

.row-24 .col-19 {
    width: 79.1666666667%
}

.row-24 .after-19 {
    padding-right: calc((4.1666666667% * 19) + 15px)
}

.row-24 .before-20 {
    padding-left: calc((4.1666666667% * 20) + 15px)
}

.row-24 .col-20 {
    width: 83.3333333333%
}

.row-24 .after-20 {
    padding-right: calc((4.1666666667% * 20) + 15px)
}

.row-24 .before-21 {
    padding-left: calc((4.1666666667% * 21) + 15px)
}

.row-24 .col-21 {
    width: 87.5%
}

.row-24 .after-21 {
    padding-right: calc((4.1666666667% * 21) + 15px)
}

.row-24 .before-22 {
    padding-left: calc((4.1666666667% * 22) + 15px)
}

.row-24 .col-22 {
    width: 91.6666666667%
}

.row-24 .after-22 {
    padding-right: calc((4.1666666667% * 22) + 15px)
}

.row-24 .before-23 {
    padding-left: calc((4.1666666667% * 23) + 15px)
}

.row-24 .col-23 {
    width: 95.8333333333%
}

.row-24 .after-23 {
    padding-right: calc((4.1666666667% * 23) + 15px)
}

.row-24 .before-24 {
    padding-left: calc((4.1666666667% * 24) + 15px)
}

.row-24 .col-24 {
    width: 100%
}

.row-24 .after-24 {
    padding-right: calc((4.1666666667% * 24) + 15px)
}

[class^=col-],
[class*=" col-"] {
    float: left;
    min-height: 1px;
    min-width: 1px;
    padding: 0 15px
}

[class^=col-].no-spacing-left,
[class*=" col-"].no-spacing-left {
    padding-left: 0
}

[class^=col-].no-spacing-right,
[class*=" col-"].no-spacing-right {
    padding-right: 0
}

@media screen and (max-width: 1455px) {
    .wrapper {
        width: 1280px
    }
    .row-24 .before-1 {
        padding-left: calc((4.1666666667% * 1) + 10px)
    }
    .row-24 .after-1 {
        padding-right: calc((4.1666666667% * 1) + 10px)
    }
    .row-24 .before-2 {
        padding-left: calc((4.1666666667% * 2) + 10px)
    }
    .row-24 .after-2 {
        padding-right: calc((4.1666666667% * 2) + 10px)
    }
    .row-24 .before-3 {
        padding-left: calc((4.1666666667% * 3) + 10px)
    }
    .row-24 .after-3 {
        padding-right: calc((4.1666666667% * 3) + 10px)
    }
    .row-24 .before-4 {
        padding-left: calc((4.1666666667% * 4) + 10px)
    }
    .row-24 .after-4 {
        padding-right: calc((4.1666666667% * 4) + 10px)
    }
    .row-24 .before-5 {
        padding-left: calc((4.1666666667% * 5) + 10px)
    }
    .row-24 .after-5 {
        padding-right: calc((4.1666666667% * 5) + 10px)
    }
    .row-24 .before-6 {
        padding-left: calc((4.1666666667% * 6) + 10px)
    }
    .row-24 .after-6 {
        padding-right: calc((4.1666666667% * 6) + 10px)
    }
    .row-24 .before-7 {
        padding-left: calc((4.1666666667% * 7) + 10px)
    }
    .row-24 .after-7 {
        padding-right: calc((4.1666666667% * 7) + 10px)
    }
    .row-24 .before-8 {
        padding-left: calc((4.1666666667% * 8) + 10px)
    }
    .row-24 .after-8 {
        padding-right: calc((4.1666666667% * 8) + 10px)
    }
    .row-24 .before-9 {
        padding-left: calc((4.1666666667% * 9) + 10px)
    }
    .row-24 .after-9 {
        padding-right: calc((4.1666666667% * 9) + 10px)
    }
    .row-24 .before-10 {
        padding-left: calc((4.1666666667% * 10) + 10px)
    }
    .row-24 .after-10 {
        padding-right: calc((4.1666666667% * 10) + 10px)
    }
    .row-24 .before-11 {
        padding-left: calc((4.1666666667% * 11) + 10px)
    }
    .row-24 .after-11 {
        padding-right: calc((4.1666666667% * 11) + 10px)
    }
    .row-24 .before-12 {
        padding-left: calc((4.1666666667% * 12) + 10px)
    }
    .row-24 .after-12 {
        padding-right: calc((4.1666666667% * 12) + 10px)
    }
    .row-24 .before-13 {
        padding-left: calc((4.1666666667% * 13) + 10px)
    }
    .row-24 .after-13 {
        padding-right: calc((4.1666666667% * 13) + 10px)
    }
    .row-24 .before-14 {
        padding-left: calc((4.1666666667% * 14) + 10px)
    }
    .row-24 .after-14 {
        padding-right: calc((4.1666666667% * 14) + 10px)
    }
    .row-24 .before-15 {
        padding-left: calc((4.1666666667% * 15) + 10px)
    }
    .row-24 .after-15 {
        padding-right: calc((4.1666666667% * 15) + 10px)
    }
    .row-24 .before-16 {
        padding-left: calc((4.1666666667% * 16) + 10px)
    }
    .row-24 .after-16 {
        padding-right: calc((4.1666666667% * 16) + 10px)
    }
    .row-24 .before-17 {
        padding-left: calc((4.1666666667% * 17) + 10px)
    }
    .row-24 .after-17 {
        padding-right: calc((4.1666666667% * 17) + 10px)
    }
    .row-24 .before-18 {
        padding-left: calc((4.1666666667% * 18) + 10px)
    }
    .row-24 .after-18 {
        padding-right: calc((4.1666666667% * 18) + 10px)
    }
    .row-24 .before-19 {
        padding-left: calc((4.1666666667% * 19) + 10px)
    }
    .row-24 .after-19 {
        padding-right: calc((4.1666666667% * 19) + 10px)
    }
    .row-24 .before-20 {
        padding-left: calc((4.1666666667% * 20) + 10px)
    }
    .row-24 .after-20 {
        padding-right: calc((4.1666666667% * 20) + 10px)
    }
    .row-24 .before-21 {
        padding-left: calc((4.1666666667% * 21) + 10px)
    }
    .row-24 .after-21 {
        padding-right: calc((4.1666666667% * 21) + 10px)
    }
    .row-24 .before-22 {
        padding-left: calc((4.1666666667% * 22) + 10px)
    }
    .row-24 .after-22 {
        padding-right: calc((4.1666666667% * 22) + 10px)
    }
    .row-24 .before-23 {
        padding-left: calc((4.1666666667% * 23) + 10px)
    }
    .row-24 .after-23 {
        padding-right: calc((4.1666666667% * 23) + 10px)
    }
    .row-24 .before-24 {
        padding-left: calc((4.1666666667% * 24) + 10px)
    }
    .row-24 .after-24 {
        padding-right: calc((4.1666666667% * 24) + 10px)
    }
    [class^=col-],
    [class*=" col-"] {
        padding: 0 10px
    }
}

@media screen and (max-width: 1295px) {
    .wrapper {
        width: 1024px
    }
}

@media screen and (max-width: 1039px) {
    .wrapper {
        width: 720px
    }
}

@media screen and (max-width: 735px) {
    .wrapper {
        width: 480px
    }
}

@media screen and (max-width: 495px) {
    .wrapper {
        min-width: 320px;
        width: 100%
    }
}

.clear,
.row-24 {
    *zoom: 1
}

.clear:before,
.row-24:before,
.clear:after,
.row-24:after {
    content: "";
    display: table
}

.clear:after,
.row-24:after {
    clear: both
}

html,
body {
    color: #333;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 1.375
}

h1 {
    color: #333;
    font-family: arial, sans-serif;
    font-size: 28px;
    padding-bottom: 15px
}

h2 {
    color: #333;
    font-family: arial, sans-serif;
    font-size: 24px;
    padding-bottom: 15px
}

h3 {
    color: #333;
    font-family: arial, sans-serif;
    font-size: 20px;
    padding-bottom: 15px
}

h4,
h5,
h6 {
    color: #333;
    font-family: arial, sans-serif;
    font-size: 16px;
    padding-bottom: 15px
}

p {
    color: #333;
    font-family: arial, sans-serif;
    font-size: 16px;
    padding-bottom: 15px;
    line-height: 1.5
}

span {
    color: #333;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: inherit
}

a {
    color: #333;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: inherit;
    text-decoration: underline
}

a:hover {
    text-decoration: none
}

strong {
    color: #333;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: inherit;
    font-weight: 400
}

em {
    color: #333;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: inherit;
    font-style: normal
}

strong em,
em strong {
    color: #333;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 1.375;
    font-weight: 400;
    font-style: normal
}

ul,
ol {
    margin: 0 0 0 15px;
    padding: 0 0 15px 15px
}

ul li,
ol li {
    padding: 0 0 5px 15px;
    color: #333;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: inherit
}

ul li:last-child,
ol li:last-child {
    padding-bottom: 0
}

ul ul,
ul ol,
ol ul,
ol ol {
    margin: 0;
    padding: 0
}

ul ul li:first-child,
ul ol li:first-child,
ol ul li:first-child,
ol ol li:first-child {
    padding-top: 5px
}

img {
    max-width: 100%;
    height: auto;
    display: block
}

textarea {
    height: auto;
    min-height: 50px
}

@media screen and (max-width: 1455px) {
    h1 {
        font-size: 28px
    }
    h2 {
        font-size: 24px
    }
    h3 {
        font-size: 20px
    }
    h4,
    h5,
    h6 {
        font-size: 16px
    }
    p {
        font-size: 16px
    }
    span {
        font-size: 16px
    }
    a {
        font-size: 16px
    }
    strong {
        font-size: 16px
    }
    em {
        font-size: 16px
    }
    ul li {
        font-size: 16px
    }
}

@media screen and (max-width: 1295px) {
    h1 {
        font-size: 28px
    }
    h2 {
        font-size: 24px
    }
    h3 {
        font-size: 20px
    }
    h4,
    h5,
    h6 {
        font-size: 16px
    }
    p {
        font-size: 16px
    }
    span {
        font-size: 16px
    }
    a {
        font-size: 16px
    }
    strong {
        font-size: 16px
    }
    em {
        font-size: 16px
    }
    ul li {
        font-size: 16px
    }
}

@media screen and (max-width: 1039px) {
    h1 {
        font-size: 24px
    }
    h2 {
        font-size: 20px
    }
    h3 {
        font-size: 18px
    }
    h4,
    h5,
    h6 {
        font-size: 16px
    }
    p {
        font-size: 16px
    }
    span {
        font-size: 16px
    }
    a {
        font-size: 16px
    }
    strong {
        font-size: 16px
    }
    em {
        font-size: 16px
    }
    ul li {
        font-size: 16px
    }
}

@media screen and (max-width: 735px) {
    h1 {
        font-size: 24px
    }
    h2 {
        font-size: 20px
    }
    h3 {
        font-size: 18px
    }
    h4,
    h5,
    h6 {
        font-size: 16px
    }
    p {
        font-size: 16px
    }
    span {
        font-size: 16px
    }
    a {
        font-size: 16px
    }
    strong {
        font-size: 16px
    }
    em {
        font-size: 16px
    }
    ul li {
        font-size: 16px
    }
}

@media screen and (max-width: 495px) {
    h1 {
        font-size: 24px
    }
    h2 {
        font-size: 20px
    }
    h3 {
        font-size: 18px
    }
    h4,
    h5,
    h6 {
        font-size: 16px
    }
    p {
        font-size: 16px
    }
    span {
        font-size: 16px
    }
    a {
        font-size: 16px
    }
    strong {
        font-size: 16px
    }
    em {
        font-size: 16px
    }
    ul li {
        font-size: 16px
    }
}

.spacer-5 {
    width: 100%;
    height: 5px
}

.spacer-10 {
    width: 100%;
    height: 10px
}

.spacer-15 {
    width: 100%;
    height: 15px
}

.spacer-20 {
    width: 100%;
    height: 20px
}

.spacer-25 {
    width: 100%;
    height: 25px
}

.spacer-30 {
    width: 100%;
    height: 30px
}

.spacer-45 {
    width: 100%;
    height: 45px
}

.spacer-60 {
    width: 100%;
    height: 60px
}

.spacer-90 {
    width: 100%;
    height: 60px
}

.c-hide-bp-1440,
.c-hide-bp-1280,
.c-hide-bp-1024,
.c-hide-bp-720,
.c-hide-bp-480 {
    display: block
}

.c-show-bp-1440,
.c-show-bp-1280,
.c-show-bp-1024,
.c-show-bp-720,
.c-show-bp-480 {
    display: none
}

@media screen and (max-width: 1455px) {
    .c-hide-bp-1440 {
        display: none
    }
    .c-show-bp-1440 {
        display: block
    }
}

@media screen and (max-width: 1295px) {
    .c-hide-bp-1280 {
        display: none
    }
    .c-show-bp-1280 {
        display: block
    }
}

@media screen and (max-width: 1039px) {
    .c-hide-bp-1024 {
        display: none
    }
    .c-show-bp-1024 {
        display: block
    }
}

@media screen and (max-width: 735px) {
    .c-hide-bp-720 {
        display: none
    }
    .c-show-bp-720 {
        display: block
    }
}

@media screen and (max-width: 495px) {
    .c-hide-bp-480 {
        display: none
    }
    .c-show-bp-480 {
        display: block
    }
}

.lt-ie9 [class^=row-],
.lt-ie9 [class*=" row-"],
.lt-ie9 .wrapper {
    min-width: 1440px
}
